{% extends 'base.html' %} # 親 template の指定

{% block content %} # 中身の記述開始
<h1>記事一覧</h1>

<table class="table">
    <thead>
        <tr>
            <th>title</th>
            <th>date</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
      {% for post in post_list %}
      <tr>
        <td><a href="{% url 'webapp:post_detail' post.pk %}">{{post.title}}</a></td>
        <td>{{post.date}}</td>
        <td>
            {% if user.is_superuser %}
              <a herf="{% url 'webapp:post_update' post.pk}">edit</a>
            {% endif %}
        </td>
        <td>
            {% if user.is_superuser %}
              <a href="{% url 'webapp:post_delete' post.pk %}">delete</a>
            {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
</table>
{% endblock %} # 中身の記述終了